altair==5.0.1
attrs==24.2.0
backcall==0.2.0
blinker==1.6.3
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
debugpy==1.7.0
decorator==5.1.1
entrypoints==0.4
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
jedi==0.19.2
jinja2==3.1.5
joblib==1.3.2
jsonschema==4.17.3
jupyter-client==7.4.9
jupyter-core==4.12.0
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mdurl==0.1.2
nest-asyncio==1.6.0
numpy==1.26.4      
newspaper3k
streamlit==1.26.0
streamlit-option-menu==0.3.6
scikit-learn==1.3.2
pillow==9.5.0
pandas==1.5.3
requests==2.31.0

